body{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: hidden;
}

div#topbar{
    background-color: black;
    font-size: 1.1em;
    word-spacing: 0.7em;
}

div#topbar a{
    color: white;
}

div#page{
    height: 100vh;
    overflow-y: scroll;
}

div#page a{
    color: blue;
}